*,
*::after,
*::before{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

main div.container{
  transform: translateX(-120%);
  animation: transform .7s ease-in forwards;
}

@keyframes transform {
  100%{
    transform: translateX(0%);
  }
}